@import "./variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: $Fondglobal;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
}

.Logo {
  position: absolute;
  left: -70px;
  width: 200px;
  height: auto;
}


.bouton-reserver {
  position: absolute;
  right: -60px;
  padding: 10px 25px;
  background-color: $Bouton;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.bouton-reserver:hover {
  background-color: $BoutonHover;
  transform: scale(1.05);
}

.menu {
  list-style: none;
  display: flex;
  gap: 60px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: $FontGlobal;
}

.menu li {
  cursor: pointer;
  transition: color 0.3s;
}

.menu li:hover {
  color: $FontTrans;
}

.intro {
    background-image: url(./Header.png);
    background-size: cover;
    background-position: center center;
    height: 611px;
    @include settings;
    display: flex;
    flex-direction: column;
    animation: softFade 1.5s ease-in-out;
}

@keyframes softFade {
  0% {
    opacity: 0;
    filter: brightness(0.7) contrast(1.1) saturate(0.8);
  }
  50% {
    opacity: 0.8;
    filter: brightness(1.05) contrast(1) saturate(1);
  }
  100% {
    opacity: 1;
    filter: brightness(1) contrast(1) saturate(1);
  }
}

.Jouer {
    @include title;
    margin-bottom: 31px;
    animation: textReveal 1.2s ease-out 0.8s forwards;

}
.premier {
    @include texte;
    width: 615px;
    height: 150px;
    flex-shrink: 0;
    color: #4a3d36;
    animation: textReveal 1.2s ease-out 1.1s forwards;

}



@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(20px); /* arrive doucement du bas */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.deroule {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.texte_fixe {
    background-color: #856A5D;
    @include texte_deux; 
    padding: 10px 0px; 
    white-space: nowrap; 
}

.texte_deroulant {
    display: inline-block; 
    animation: defilement 10s linear infinite;
}

@keyframes defilement {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%); 
    }
}

.drinks {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 37px; 
    padding-bottom: 25px;
}

.boissons {
  @include title;
  text-align: center;
  padding: 63px 0px 43px 0px;
}

.card-boisson {
  @include lesboissons;
}

.matcha {
  border-radius: 18px 18px 0 0;
}

.cards-boisson {
  @include lesboissonsdeux;
}

.card.boisson {
  @include lesboissons;
}

.boisson-titre {
    @include boisson-titre;
    margin-top: 19px;

}

.boissons-titres {
   @include boissons-titres;
    margin-top: 19px;

}

.boisson-text {
  @include boisson-text;
  margin: 10px 0px 10px 0px;
}

.boisson-prix {
  @include boisson-prix;
}

.boissons-text {
  @include boissons-text;
  margin: 10px 0px 10px 0px;
  
}

.boissons-prix {
  @include boissons-prix;
}

.topping {
  width: 100%;
  background-color: #55443a;  
  display: flex;
  justify-content: center;
  padding: 30px; 
  margin-top: 35px;
  color: #F6E7CB; 
}

.les-toppings {
  color: #F6E7CB;
  font-family: Arapey;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.topping-global {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 93px;
}
.topping-text {
  color: #F6E7CB;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}
.prix {
  display: flex;
  justify-content: space-between;
}

.center-topping {
  display: flex;
  align-items: center;
}

.friandise {
    display: flex;
    flex-direction: row; // Vos styles
    justify-content: center; 
    gap: 37px; 
    padding-bottom: 25px;
}


.nos-friandise {
  @include title;
  text-align: center;
  padding: 63px 0px 43px 0px;
}

.cards-friandise {
  @include lesfriandisesdeux;
}

.friandise-titres {
  @include friandise-titre;
  margin-top: 19px;
}

.friandises-text {
  @include friandise-text;
  margin: 10px 0px 10px 0px;
}

.friandises-prix {
  @include friandise-prix;
}

.card-friandise {
  @include lesfriandises;
}
.friandise-titre{
  @include friandises-titre;
  margin-top: 19px;
}

.friandise-text {
  @include friandises-text;
  margin: 10px 0px 10px 0px;
}

.friandise-prix {
  @include friandises-prix;
}

.footer {
  background: #F6E7CB;
  border-top: 2px solid #E0CFB0;
  padding: 18px 0;
}

.footer__container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.footer__social {
  display: flex;
  gap: 12px;
}

.footer__icon {
  width: 38px;
  height: 38px;
  border-radius: 999px;
  background: #4A3D36;
  color: #F6E7CB;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform .2s ease;
}

.footer__icon:hover {
  transform: translateY(-2px);
}

.footer__text {
  color: #4A3D36;
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
}

.footer__legal {
  color: #4A3D36;
  justify-self: end;
  font-family: Quicksand;
  font-size: 14px;
  text-decoration: none;
}

.footer__legal:hover {
  text-decoration: underline;
}


@media (max-width: 1024px) {
    
    
    nav {
        width: 95%; 
    }
    .Logo {
        left: -40px; 
        width: 170px;
    }
    .menu {
        gap: 30px; 
        font-size: 18px;
    }
    .bouton-reserver {
        right: -40px; 
        padding: 8px 20px;
        font-size: 14px;
    }
    
    
    .intro {
        height: 500px; 
    }
    .Jouer {
        font-size: 3em;
    }
    .premier {
        width: 70%; 
        font-size: 18px;
    }
    
    
    .drinks, .friandise {
        overflow-x: scroll; 
        justify-content: flex-start;
        padding: 0 20px; 
        scroll-snap-type: x mandatory; 
        
        
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    
    .card-boisson, .cards-boisson, .card-friandise, .cards-friandise {
        flex-shrink: 0;
        scroll-snap-align: start;
    }

    
    .t-image { 
        width: 40%;
        margin-left: 5%; 
        margin-right: 40px; 
    }

    .topping-global {
        margin-right: 5%; 
    }

    .les-toppings {
        font-size: 2em;
    }

    .prix {
        padding-left: 70px; 
    }
}


@media (max-width: 768px) {
    
    
    header {
        height: auto;
        padding: 15px 0;
    }
    
    nav {
        flex-direction: column; 
        gap: 15px;
    }

    .Logo {
        position: static;
        width: 120px;
        order: 1; 
    }

    .menu {
      
        flex-direction: column; 
        gap: 8px;
        font-size: 16px;
        order: 2; 
        padding-left: 0;
    }

    .bouton-reserver {
        position: static;
        order: 3; 
    }

    
    .intro {
        height: 350px;
        padding-top: 20px;
    }

    .Jouer {
        font-size: 2em;
        width: 90%;
        text-align: center;
        margin: 0 auto 10px auto;
    }

    .premier {
        width: 90%;
        font-size: 14px;
        height: auto;
        padding: 0 10px;
        text-align: center;
    }
    
    
    .texte_fixe {
        font-size: 16px;
    }

   
    .boissons, .nos-friandise {
        padding: 30px 0 15px 0;
        font-size: 2em;
    }

    
    .drinks, .friandise {
        
        flex-direction: column; 
        align-items: center; 
        gap: 25px; 
        overflow-x: hidden; 
        padding: 0; 
    }
    
    
    .card-boisson, 
    .cards-boisson, 
    .card-friandise, 
    .cards-friandise { 
        width: 90%; 
        max-width: 350px; 
        height: auto; 
    }

    
    .topping {
        flex-direction: column; 
    }
    
    .t-image {
        width: 90%; 
        max-width: 400px;
        margin: 0 auto 30px auto; 
        order: 1; 
    }

    .center-topping {
        width: 90%;
        margin: 0 auto;
        order: 2;
    }

    .topping-global {
        width: 100%;
        margin: 0; 
    }

    .les-toppings {
        text-align: center; 
        font-size: 1.8em;
        margin-bottom: 15px;
    }
    
    .topping-text {
        font-size: 1em;
    }
    
    .prix {
        padding-left: 20px; 
    }


    
    .footer__container {
        grid-template-columns: 1fr; 
        gap: 15px;
        padding: 0 15px;
    }

    .footer__social {
        order: 1; 
        justify-content: center;
    }

    .footer__text {
        order: 2; 
        font-size: 12px;
    }

    .footer__legal {
        order: 3; 
        justify-self: center;
    }
}