$Fondglobal: #F6E7CB;
$FontGobal: #856A5D;
$FontTrans: #4a3d36;
$Bouton: #856A5D;
$BoutonHover: #4a3d36;

 

@mixin settings () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin menu () {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin texte () {
    font-family: Quicksand;
    font-size: 20px;
}

@mixin title () {
    font-family: Arapey;
    font-size: 45px;
    color: $FontGobal;

}